:root {
  --main-bg-color: white;
  --primary-color: #1ac0c6;
  --secondary-color: #fb7756;
  --font-size: 14px;
  --button-font-size: 1.2em;
  --button-contained-color: white;
  --button-contained-bg: gray;
  --character-placeholder-bg: rgb(194, 189, 189);
  --character-placeholder-color: black;
  --character-font-size: 1.2em;
  --border-color: gray;
}

html, body {
  font-size: var(--font-size);
}